#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title {
  text-align: center;
  width: 100%;
}

ion-card {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: none; /* Elimina restricciones de ancho */
}

.estado-obras-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rojo {
  background-color: red;
  color: white;
}

.amarillo {
  background-color: yellow;
  color: black;
}

.verde {
  background-color: green;
  color: white;
}
